# IDEs and editors
.idea/
.vscode/
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json
.history/*
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Node
/node_modules
npm-debug.log
yarn-error.log